[2016-02-04 21:57] smartmouse opened #1 "datasource.json generated from cloudant connector comes with in memory connector"
steps to reproduce:
1.npm install -g strongloop-connector-cloudant
2.mkdir testLoopbackconnectorcloudant
3.cd testLoopbackconnectorcloudant
4.slc loopback
5.slc loopback:datasource

strongbot@plnx133:~/testLoopbackconnectorcloudant> slc loopback:datasource
? Enter the data-source name: cloudantdb
? Select the connector for cloudantdb: IBM Cloudant DB (supported by StrongLoop)

Then create model
sl

[2016-02-08 21:45] chandadharap commented on #1
Not a bug. Close.

[2016-02-08 22:27] #1 closed

[2016-02-09 12:05] timjacobi opened #2 "Filtering on numeric values fails"
### Model configuration (simplified)
[code]
### Retrieving all records
**`GET https://myhost/api/Records`**
[code]
### Filtering on the value *aString* returns the expected document
**`GET https://myhost/api/Records?filter[where][sharedKey]=aString`**
[code]
### Filtering on the value *123456* returns nothing
**`GET https://myhost/api/Records?filter[where][sharedKey]=123456`**
[code]

[2016-02-23 18:37] flam312 opened #3 "Find query does not return the cloudant bookmark field"
I am using the loopback model find function with the loopback-connector for cloudant. The number of models returned are always <= 200. Upon further investigation I found that this is a limitation imposed by cloudant's query.

https://developer.ibm.com/answers/questions/233525/nodered-cloudant-using-cloudant-node/
https://docs.cloudant.com/cloudant_query.html#finding-documents-using-an-index

The b

[2016-02-24 08:43] njemak opened #4 "Cannot get (id)"
I define my own id which is string. When I want to get using the get (id) the result is error :
{
  "error": {
    "name": "Error",
    "status": 404,
    "message": "could not find a model with id 1",
    "statusCode": 404,
    "code": "MODEL_NOT_FOUND",
}
}

Same can be happen if I use put(id). But when I only use get, it is works normally.
But when I store the id as full string, i get the resul

[2016-02-26 13:40] bajtos opened #5 "AssertionError: url is not valid"
When the data-source configuration does not provide all required settings, the connector initialisation fails with `AssertionError: url is not valid`. This error message is misleading - it hints that the `url` setting is required, which is not true.

Please improve the code building settings for `cloundant` driver ([source code](https://github.com/strongloop/loopback-connector-cloudant/blob/4798b8

[2016-03-02 16:41] bwghughes commented on #3
@flam312 Any update on this - did you find a work around?

[2016-03-02 18:13] flam312 commented on #3
@bwghughes I did find a work around by using the loopback skip filter.

https://docs.strongloop.com/display/public/LB/Skip+filter

I basically have a recursive function that executes the same query using the skip filter to page through the results. However, I feel that the connector should be doing this and returning the total amount for us.

[2016-03-02 22:20] snowch commented on #3
@tonyffrench +1 for resolving this defect as discussed offline today.

[2016-03-02 22:52] tonyffrench commented on #3
Cloudant Query search limits by design the number of documents returned to 200. I'll investigating a way to surface the bookmark feature. Another alternative maybe to switch between text search vs json search.

[2016-03-02 23:20] tonyffrench commented on #5
fixed with commit a67cfcb

[2016-03-02 23:20] #5 closed

[2016-03-02 23:53] tonyffrench commented on #2
@timjacobi seems to be a corner case using Cloudant Query. Running the following query directly against the DB produces the same result:
[code]
I'll take this up with the Cloudant team.

[2016-03-03 13:31] jmereaux commented on #3
+1 For updating the connector so that it returns the whole list of documents if there's more than 200

[2016-03-03 13:33] jmereaux commented on #2
+1

[2016-03-03 14:07] zamrokk commented on #3
:+1:

[2016-03-03 15:28] tonyffrench commented on #2
Cloudant team has already produced a fix for this issue and it will be rolling out soon. I'm currently testing   against an internal cluster and all looks good.

[2016-03-03 16:38] noxxious commented on #3
+1 here as well.

[2016-03-03 17:52] #3 closed

[2016-03-03 17:55] tonyffrench commented on #3
Version 1.0.5 should now be out on NPM

[2016-03-03 17:58] timjacobi commented on #2
Super. Thanks for doing the correspondence and testing. Is the issue in cloudant tracked publicly?

[2016-03-03 19:34] tonyffrench commented on #4
@njemak I wonder if this works if the id starts with an alpha character? in that it could be a duplicate of #2

[2016-03-04 16:27] flam312 opened #6 "too many boolean clauses error on large include query"
The fix in #3 allowed queries to return results > 200 from the connector. However, now I am getting a "too many boolean clauses" error when returning my results.

Context: I am running two queries. The first finds the total count of a particular package model (2k+ results). This returns fine without any problems. My second query has a include filter to tie in another relation to the package instan

[2016-03-04 20:01] tonyffrench commented on #6
I have a reproduction, taking a look now.

[2016-03-04 21:01] #6 closed

[2016-03-07 16:48] jmereaux opened #7 "How to find all instances of a model which have their "belongsTo" relation unset"
Hi,

Not sure this is really an issue, maybe I just don't know the right way of doing things...
Let's take the following example with two models Person and Vehicle:

[code]

Is there any simple query to perform in order to fetch all vehicles that don't have an owner?

Would it be possible to do anything like one of the lines below?
Vehicle.find({where: {personId: null}})
Vehicle.find({where: {pers

[2016-03-07 16:54] jmereaux opened #8 "Support second level property(relation property) filter in cloudant"
Let's take an example:

[code]

Is there any way to fetch with a simple query/filter, all the persons who have a vehicle of brand XXX ?

[2016-03-07 21:11] flam312 opened #10 "include filter broken"
looopback-connector-cloudant v1.0.6

When running any queries with a include filter the relation data returned is empty. While in debug mode I was able to get back the following error:

error": {

    "name": "Error",
    "status": ​500,
    "message": "function_clause",
    "error": "function_clause",
    "reason": null,
    "ref": ​1612317691,
    "scope": "couch",
    "statusCode": ​500,
    "r

[2016-03-08 03:23] rexpie commented on #8
I think the purpose of the views in design documents are supposed to do just that.

[2016-03-08 04:10] tonyffrench commented on #10
$in is empty, can you share the query?

[2016-03-08 04:58] tonyffrench commented on #8
@jmereaux: You could try something like:

 `curl -g 'http://0.0.0.0:3000/api/Vehicles?filter[where][brand]=D&filter[include]=owners`

If you want to go in the other direction, you can apply filters to related models, see https://docs.strongloop.com/display/public/LB/Include+filter

[2016-03-08 05:03] tonyffrench commented on #8
The datasource-juggler test suite might have some useful examples:
strongloop/loopback-datasource-juggler/test/{include.test.js,relations.test.js}

[2016-03-08 05:04] tonyffrench commented on #7
@raymondfeng: ideas?

[2016-03-08 06:59] jmereaux commented on #8
@rexpie: Could you please elaborate? I'm afraid I'm not familiar with "views in design documents". Thanks

[2016-03-08 08:27] jmereaux commented on #8
@tonyffrench: Thanks a lot for your help.

I looked at the huge test files, but unfortunately did not find what I was looking for.

As far as I understand, the curl query you provided enables to fetch all the vehicles with brand 'D' and to include their owners. Therefore, I would have to iterate on the resulting vehicles and then to collect their owners.
In case the 'vehicle' relation on Person be

[2016-03-08 12:46] flam312 commented on #10
@tonyffrench

Query: http://0.0.0.0:3000/api/packages?filter[where][id]=123&filter[include][hasLicense]
If I switch back to v1.0.5 the hasLicense field is populated otherwise it returns a empty array.

[2016-03-08 14:45] tonyffrench commented on #10
@flam312 your right! I just crafted some additional include/relational tests and the previous change to support large queries needs to invoke fromDB before calling include() otherwise the id names are off. Working on a fix.

[2016-03-08 15:06] flam312 commented on #10
@tonyffrench thanks! I wasnt sure what the fromDB function did. now things are alot clearer.

[2016-03-08 16:09] tonyffrench commented on #10
should be resolved with 1.0.7

[2016-03-08 16:09] #10 closed

[2016-03-31 21:58] srl295 opened #11 "Database isn't created automatically?"
Until I manually created the database in Cloudant, I got this error:

[2016-04-01 13:49] tonyffrench commented on #11
The loopback-connector-mongo utilizes server side logic for db creation, cloudant/couch has no equivalent AFAIK. There is a consistency argument for updating this connector to automatically create the database.

[2016-04-06 10:36] srinivas-os commented on #2
I have this issue as well. How can I get the fix? Should I update cloudant or the connector or both?

[2016-04-07 18:43] srinivas-os opened #12 "Regex filter not supported?"
Trying to query cloudant (findOne) through the connector using regex, but the $regex operator  value always gets passed as blank. For instance

[code]

This gives the below error in console:

[2016-04-11 14:53] tonyffrench commented on #2
@srinivas-os the fix requires a new version of the Cloudant server. The Cloudant team are working on rolling out the fix, I spoke with them last week on the progress. Thanks for your patience.

[2016-04-12 17:50] svlungade opened #13 "updateAll is not working properly"
When given an array as input for a field, we are getting TypeError k.match is not a function.

We cannot give primary id as where clause in input parameter.

Both the issues are for updateAll method

[2016-04-14 19:58] flam312 commented on #13
@svungade can you give some more details as to what is in the array you are passing to the updateAll function?

The update all function works for me when passing in the following array:

User.updateAll( [ {'id': 1}, {'id': 2}, {'id': 3}, {'id': 4}], { 'updated' : true}, callback);

[2016-04-15 08:07] svlungade commented on #13
TestDocument.updateAll( {id: "1234"}, {email:

"abcd55@gmail.com"}, function(err, results) {
     console.log ('result is',results);
                return callback(err, results);
});

Where id is a primary key (_id) and the first json is the condition and second is the one to be updated

This is what we are trying to do

[2016-04-15 12:22] flam312 commented on #13
@svlungade what is the error you see if any when you try to call the above code? I'm not sure I understand where the TypeError k.match error is coming from.

[2016-04-15 12:28] svlungade commented on #13
@flam312 - Thank you for the quick replies :).
There are 2 issues, the first one is you can ignore for now ... type k.match one.

Second issue is ... when we are trying with the example given, we are getting blank results, nothing gets updated.

[2016-04-15 13:18] flam312 commented on #13
@svlungade
Odd, so if you print results they are blank? You should see something print out for results.
For example if the update is successful you should get the in the result the id that was updated and the revision id.

{
      "id": "123",
      "rev": "16-393d8b69b74af75b4b787d8ecaa76e11"
    }

Or if the id does not exist then the results will return { count: 0}.
However, if you get a error

[2016-04-21 13:37] tonyffrench commented on #2
I've just confirmed this is now fixed with Cloudant version {"couchdb":"Welcome","version":"1.0.2","cloudant_build":"**2579**"}

[2016-04-21 13:38] #4 closed

[2016-04-21 13:38] #2 closed

[2016-04-21 14:26] srinivas-os commented on #2
@tonyffrench How do I find what version I have? And would the fix be rolled out to all cloudant servers automatically?

[2016-04-27 13:15] tverilytt opened #15 "Support for Design Functions"
Hi!
It would be very convenient to get support for CouchDB Design Functions (Map, Reduce...) in the loopback-connector-cloudant. Design Functions are core to CouchDB, and supporting them, will e.g. make it easier to switch between local CouchDB database, and Cloudant database in the cloud.

CouchDB documentation on Design Functions:
http://docs.couchdb.org/en/1.6.1/couchapp/ddocs.html?highlight=ma

[2016-04-27 14:48] tonyffrench commented on #15
Using Cloudant Query vs CouchDB Views are two very different but equally important approaches. We have two choices: 1) enhance this connector to support MapReduce etc. 2) enhance https://github.com/mattange/loopback-connector-couch

IMO, given that the MapReduce approach is so different it would be cleaner to keep these implementations separate.

Thoughts?

[2016-04-27 18:29] #12 closed

[2016-04-27 19:13] tonyffrench commented on #13
@svlungade

In your first example the where clause is invalid it must be an object, not an array. You should have received an error like so: { [Error: The where clause [{"id":1},{"id":2},{"id":3},{"id":4}] is not an object] statusCode: 400 } https://docs.strongloop.com/display/public/LB/Where+filter

In the second case, you should get a response say `function(err, info)` where `info.count` indicat

[2016-04-27 19:13] #13 closed

[2016-05-13 03:12] knoro opened #17 "Could not found minus value."
Hi.

I tried found at cloudant data, but could not found minus value data.

  success: lat = 90
  failed: lat = -90

How to find the minus value data ?

source: --databasename--.js

[code]

model.properties: --databasename--.json

[code]

cloudant data:

[code]

I tried in cloudant query box , but also could not found.

query:

[code]

[2016-05-27 20:39] krsyoung commented on #1
@chandadharap I have the same question as @smartmouse  ... if it isn't "Not a bug" what is it?  Is it used for something?

[2016-05-27 21:25] krsyoung opened #18 "Cannot create data source "cloudant""
Hey, I'm trying to connect my Loopback application to Cloudant but I am not having much luck.  I used the `slc loopback:datasource` command to add a Cloudant datasource, however, when I start my application I get:

[code]

Here are the dependencies in my `package.json`:

[code]

And my `datasources.json`:

[code]

Any suggestions on what the issue might be or if I might have an incorrect version o

[2016-06-10 08:27] AvikSengupta27 opened #19 "Order and Filter are not working in updateAll where clause"
I have documents with  _id,Status and dateUploaded fields. I want to update the document where Status is Available and has minimum date.

I am able to successfully run the below code, but it updates all the documents where the Status is 'Available'

orm.TEST.updateAll({Status: 'Available'}, {Status: 'Blocked'}, function(err, result) {
    console.log(err + " "+result);
});

The logic I am trying t

[2016-06-10 08:28] AvikSengupta27 commented on #19
orm.TEST.updateAll( {Status: ‘Available’, dateUploaded:<min> }, {Status: ‘Blocked’}, function(err, results) {
return callback(err, results);
});

Updated the logic . It was missing <min>

[2016-06-10 08:28] AvikSengupta27 commented on #19
orm.TEST.updateAll( {Status: ‘Available’, dateUploaded: min date needs to be here }, {Status: ‘Blocked’}, function(err, results) {
return callback(err, results);
});

[2016-06-10 12:22] AvikSengupta27 commented on #19
orm.TEST.updateAll({
      order: 'dateUploaded DESC',
      Status:'Available',
       limit:1
    }, {Status: 'Blocked'}, function(err, result) {
   console.log(err + " "+JSON.stringify(result));
});

This code returns me count 0

[2016-06-14 19:50] htammen opened #20 "Error: Invalid operator: $regex"
I get the following error when calling a _find with regex via my loopback application. When using the in-memory database instead of Cloudant everything works fine.

Regards Helmut

[code]

[2016-06-26 16:09] Amir-61 opened #21 "Missing `replaceById` and `replaceOrCreate` methods"
`replaceById` and `replaceOrCreate` need to be added for `loopback-connector-cloudant`

[2016-07-09 12:01] thinusn commented on #18
Same issue for me.
Tried adding the `cloudant` connector via `apic edit` and via the cli (`loopback:datasource`) on new and existing projects.

[2016-07-29 21:37] samt opened #23 "APIC Explorer does not generate data properly for model with required date"
A customer wrote into support with the following issue:

[2016-08-31 16:29] tanndev opened #25 "Regex query does not obey ignoreCase flag"
I'm making a query through the Cloudant connector with a filter that looks like this:
[code]

I've narrowed down the problem to the following lines: (Starts at 329, for me, in cloudant.js.)
[code]

At the start of the code, my `cond` object is as follows:
[code]

As a RegExp object, it drops into the first if and builds the query with
`query[k] = {$regex: cond.source}`
and thus ignores the ignoreC

[2016-09-08 23:54] superkhau commented on #25
Closing as this has been resolved by #26

[2016-09-08 23:54] #25 closed

[2016-09-13 21:07] jannyHou commented on #23
@samt IIRC apic disabled explorer, are you using **editor**? If it is explorer, could you explain a bit about how to launch apic explorer? Thanks.

[2016-09-14 21:07] samt commented on #23
It's in the editor launched with `$ apic edit` in the project directory.

[2016-09-15 20:29] jannyHou commented on #23
I created an app according to your description:
https://github.ibm.com/juehou/sandbox

But I didn't see same error happen.
I tried both memory db and cloudant db, they both work fine.

I installed my apiconnect from `https://registry.npmjs.org/`
[code]

And BTW, honestly I am not quite familiar with apic debugging, like which version should we test and environment setup things. Maybe we can find s

[2016-09-18 21:34] gxvigo commented on #18
Did you manage to find a solution by any chance?

[2016-09-19 00:55] krsyoung commented on #18
Hey @gxvigo I ended up giving up on the package and moved away from loopback all together.

[2016-09-20 20:27] cgole opened #31 "Cloudant - Model property with type number and marked ID expects string as value"
PMR link: https://jazzop27.rtp.raleigh.ibm.com:9443/ccm/web/projects/CloudOE#action=com.ibm.team.workitem.viewWorkItem&id=210887

## Problem:
Attempting to insert a record into Cloudant with a numeric ID will fail, since the inserted object does not have an id of type String.

## Potential Fix
Investigate whether or not calling `.toString()` on the `_id` parameter before an insert request is made

[2016-09-20 21:30] cgole commented on #31
Since cloudant uses documents to store data then we can only use type `string` for id:
see https://docs.cloudant.com/document.html

[2016-09-26 16:07] jannyHou commented on #31
Add some details from discussion:

[code]
Will see error

I am figuring out how loopback converts the id type to string, will update details later. Not sure which one is better, giving a warning or throwing an error, but we should add some validation/check instead of silently changing it to another type.

[2016-09-26 16:10] jannyHou opened #33 "Enable juggler tests for Cloudant/Couch CI"
Now we commented all test cases to get CI pass in https://github.com/strongloop/loopback-connector-cloudant/pull/29/files, but after CI config done we need to bring them back and make them pass all required platforms.

[2016-09-27 14:46] jannyHou opened #35 "Fix update/updateOrCreate in cloudant.js"
Use `updateAttributes` function to `update` a model instance and use `update` function in call for `updateOrCreate`.

Currently, `update` performs a destructive update. With this change `update` function should be partial update.

[2016-09-27 19:13] #21 closed

[2016-10-04 12:50] jmereaux opened #37 "updateAll function should return an object"
Hi,

According to this [link](https://github.com/strongloop/loopback/issues/1167), the updateAll function of the connector should now return an object like:

`{ count: <numberOfRecordsUpdated> }`

Could you please make the change?
Thanks

[2016-10-04 19:47] jannyHou commented on #37
Hi @jmereaux Thanks for reminding us of making changes consistently.

If I understand correctly, now [`Cloudant.prototype.updateAll`](https://github.com/strongloop/loopback-connector-cloudant/blob/master/lib/cloudant.js#L563) returns the whole result object instead of the count only.

I reproduced it on my local. Label it as a bug here.

[2016-10-05 04:23] jannyHou opened #38 "Fix race condition in cloudant"

[2016-10-12 05:46] superkhau opened #41 "Backport ESLint fixes to loopback-2.x"
# Steps to reproduce

[code]

[2016-10-12 14:33] jannyHou opened #42 "Improve the debug and test case message"
See https://github.com/strongloop/loopback-connector-cloudant/pull/34#discussion_r82877702
and https://github.com/strongloop/loopback-connector-cloudant/pull/34#pullrequestreview-4157052

[2016-10-14 15:32] jannyHou commented on #23
@samt Do you still run into this problem?

[2016-10-17 10:08] jmereaux opened #43 "Release 1.1.0 seems to have broken the upsert"
Hi,

When using the latest release 1.1.0, seems like attempting an upsert of an instance that is not yet in the database gives a 404.
Reverting to 1.0.11 fix the issue.

Could you please take a look?
Thanks

[2016-10-18 14:58] jannyHou commented on #23
I am closing this issue since I cannot reproduce it. Please reopen it if anyone runs into same error. Thanks.

[2016-10-18 14:58] #23 closed

[2016-10-18 20:45] jannyHou opened #44 "updateAll doesn't replace the property with array type."
Reproduce:
1. Create a model `Test`
2. Create an instance for `Test`:

[code]
3. Try updateAll:

[code]
4. The updated skills are expected to be:

[code]

   But actual result is:

[code]

Details see: http://stackoverflow.com/questions/40111147/updateall-loopback-datasource-does-not-delete-deletions-inside-updated-data

[2016-10-19 09:41] jonascoenen005 opened #46 "replaceById in nodejs returns error"
When using a model and using the method replaceById, it returns the following errror:

Error: The connector cloudant does not support replaceById operation. This is not a bug in LoopBack. Please contact the authors of the connector, preferably via GitHub issues.
    at Function.DataAccessObject.replaceById (C:\secret_path_to_my_nodejsapplication\node_modules\loopback-datasource-juggler\lib\dao.js:

[2016-10-19 17:33] superkhau commented on #46
@Amir-61 @jannyHou I think this error message isn't pointing at the right place -- "Please contact the authors of the connector (which is us)" should be "Please contact the authors of the driver and link to https://github.com/cloudant/nodejs-cloudant".

@jonascoenen005 Please file an issue with the upstream driver (https://github.com/cloudant/nodejs-cloudant) and ask them to support the replaceByI

[2016-10-19 17:49] Amir-61 commented on #46
@superkhau,

No they should file a ticket in the GH repo for the connecter in this case `loopback-connector-cloudant`. With that being said @jannyHou has recently added support for `replace` methods in `loopback-connector-cloudant`; however, no release has been done after landing https://github.com/strongloop/loopback-connector-cloudant/pull/34, @jannyHou or @superkhau you may go ahead and release

[2016-10-19 19:01] jannyHou opened #47 "updateAttributes doesn't replace the property with array type."
#Same problem as `updateAll`: https://github.com/strongloop/loopback-connector-cloudant/issues/44

Reproduce:

A model instance with an array type property

[code]

When do updateAttributes:

[code]

The expected new arrProperty is

[code]

But actual result is

[code]

[2016-10-19 20:54] jannyHou commented on #46
@jonascoenen005 @superkhau The patch is under verify, will release it after verify done.
I also updated the answer in related OS issue: http://stackoverflow.com/questions/40111147/updateall-loopback-datasource-does-not-delete-deletions-inside-updated-data/40117755#40117755

Will update there after publishing the new version.

[2016-10-19 20:56] superkhau commented on #46
@Amir-61 @jannyHou Thanks for clarifying. :+1:

[2016-10-20 10:54] bajtos commented on #46
Could you please connect the patch to this issue for future reference?

[2016-10-20 10:55] bajtos commented on #46
@superkhau considering that this issue is waiting for verification, I think `#verify` label is more appropriate than `waiting`. I have applied the label change myself.

[2016-10-25 11:06] ka-miyake opened #49 "When using the 'modelSelector' setting, buildSelector returns circular selector."
This filter works.

[code]

But this doesn't.

[code]

[2016-11-14 21:25] jannyHou opened #55 "Keep ._rev property on returned instance of model"
A further discussion of https://github.com/strongloop/loopback-connector-cloudant/pull/54#issuecomment-259401952
Regarding

Our current implementation:
Now whenever `rev` is needed, eg: in function `Cloudant.prototype.delete()`, `Cloudant.prototype.replaceById()`, we call `getCurrentRevision()`.
But considering the nature of Cloudant db, we should ask the caller to provide `rev`, and return error

[2016-11-15 13:16] bajtos commented on #55
A big +1 from me.

I believe the field is called `_rev` in Cloudant, isn't it? https://docs.cloudant.com/mvcc.html#revisions

I am proposing to define a `_rev` property on a model at the time when the model is attached to a Cloudant datasource. That way the `_rev` property will be propagated to Swagger too.

The catch is how to tell clients that `_rev` should not be included in `create` requests?

[2016-11-15 14:58] jannyHou commented on #55
@bajtos ah sorry I forgot to direct you to https://github.com/strongloop/loopback-connector-cloudant/pull/54#issuecomment-260415145, I made some comment about how to let callers access `_rev` in that link.

True, my suggestion is based on using a option flag to tell function `fromDB()` returns `_rev` with data or not.

[2016-11-16 16:11] l2fprod opened #56 "Rate limits from new IBM Bluemix Cloudant plans are not managed by the connector"
Cloudant in Bluemix has plans with rate limits. It used to have a "Shared" plan with a limit of storage but the new plans have introduced read and write per second limits:
https://www.ibm.com/blogs/bluemix/2016/09/new-cloudant-lite-standard-plans-are-live-in-bluemix-public/

The Cloudant nodejs package has been updated to cope with the new limits and automatically retry. This is implemented with a

[2016-11-16 16:47] l2fprod commented on #56
I tried a local fix https://github.com/l2fprod/loopback-connector-cloudant/commit/f342236322aa0f959d9a423a8238387c8ba4c8c7 enabling the retry plugin and obviously it solves the issue. Ideally this should be built-in into the connector with configuration from the datasource.

[2016-11-17 17:20] tam512 commented on #18
I see the same error when testing my loopback eBuyJS application with Cloudant
This is my datasources.json file
{
 "appData": {
  "name": "appData",
  "url": "https://17c1bc61-9934-42a8-9c56-0916ca70dfc5-bluemix.cloudant.com/dashboard.html#/_all_dbs",
  "connector": "cloudant",
  "username": "my_bluemix_id",
  "password": "my_bluemix_password",
  "database": "ebuyjs"
  }
}

The following is the er

[2016-11-17 21:05] jannyHou commented on #7
@jmereaux I tried with your use case, and `Vehicle.find({where: {personId: null}})` works.

I am closing this issue since problem solved. Please feel free to reopen it if you still have questions.

[2016-11-17 21:05] #7 closed

[2016-11-17 21:14] jannyHou opened #57 "Support second level property filter in cloudant"
Parent story see: https://github.com/strongloop/loopback/issues/517
A similar mongodb pr see: https://github.com/strongloop/loopback-connector-mongodb/pull/301

Use case:
`Person` hasMany `Vehicle`.
We want to support a filter like
[code]

[2016-11-17 21:17] jannyHou commented on #8
@jmereaux loopback doesn't support a filter on second level property, eg: `vehicle.brand`, now I am afraid you have to collect the personIds and remove duplicate manually.

We are working on supporting the feature in some databases like mongodb:
feature issue see: https://github.com/strongloop/loopback/issues/517
mongodb pr see: https://github.com/strongloop/loopback-connector-mongodb/pull/301

I

[2016-11-17 21:17] #57 closed

[2016-11-17 21:18] jannyHou commented on #57
dup as https://github.com/strongloop/loopback-connector-cloudant/issues/8

[2016-11-18 16:26] jannyHou commented on #19
@AvikSengupta27 Please check our doc about how to use `updateAll`: http://loopback.io/doc/en/lb2/Creating-updating-and-deleting-data.html#updating-data-model-instances
And how to use `AND` in `Where` clause: http://loopback.io/doc/en/lb2/Where-filter.html#and-and-or-operators

Does "minimum date" means from all returned records you only need the one with minimum date[scenario 1]?
Or it means you a

[2016-11-18 21:49] jannyHou commented on #49
hmm, it works for me:
Use example https://github.com/strongloop/loopback-example-database
Add another property in model `Account` called `branch`
With some sample data(see reference), try `node .` and open explorer:

Endpoint `GET/ Account` with filter
[code]
Result:
[code]

Reference:
[code]

[2016-11-18 21:50] jannyHou commented on #49
@ka-miyake It works for me, see my comment in https://github.com/strongloop/loopback-connector-cloudant/issues/49#issuecomment-261650822
If you still run into this issue, please fork https://github.com/strongloop/loopback-sandbox and provide your app to reproduce the error.

I am closing it now, feel free to reopen it with the sandbox. Thanks.

[2016-11-18 21:50] #49 closed

[2016-11-21 16:26] chandadharap commented on #18
Raising priority.

[2016-11-21 17:12] jannyHou commented on #18
@krsyoung @thinusn @gxvigo @tam512 Can you try to remove the `url` field in your `datasources.json` file and just try with
- username
- password
- database
only?

`url` will override other settings (username and password), the cloudant created on bluemix will provide you the `url` but I am not sure about where you get it from other cloudant servers.

From my understanding `url` like

is not a vali

[2016-11-21 18:51] jannyHou commented on #18
I tried invalid `url` on local and reproduced the error message in the first comment.

Labelled it as a bug, when invalid `url` passed in, the error message doesn't `EXPLICITLY` tell users which credential property is wrong.

[2016-11-23 23:26] jannyHou commented on #18
This issue is caused by a bug in `nodejs-cloudant`, filed an issue for it:
https://github.com/cloudant/nodejs-cloudant/issues/167

And add an explanation in our doc to warn users an invalid url will result in uncaught error and fail their app, see  https://github.com/strongloop/loopback-connector-cloudant/pull/60

[2016-11-24 10:12] xpqz commented on #56
It would be great if StrongLoop's Cloudant connector could wrap Cloudant's nodejs library. The Shared plan has been deprecated in favour of the new rate-capped Lite & Standard plans, and at the moment SL dies when used against the Lite plan. The Lite plan is intended to serve as a free-forever taster/development tier but applications using that need to be mindful of the caps. Cloudant's library ha

[2016-11-24 20:42] superkhau commented on #56
@xpqz Thanks for the feedback, this is definitely something we should take into consideration. @jannyHou We should add this to your connector's roadmap doc.

[2016-11-25 18:13] biancajiang opened #61 "corrupted model index? "Error performing text search""
Hi,

Our loopback APIs with DB queries have been working fine until all of a sudden, APIs involve one particular type of model stops working and always returns "Error performing text search".

e.g. APIs using this query:
``
{"selector":{"loopback__model__name":"package","_id":"bd3728cc668db9d363f0b0d98c448c96"},"use_index":["lb-index-ddoc-package","lb-index-package"],"limit":1,"sort":[{"id:string"

[2016-11-25 19:37] jannyHou commented on #61
@biancajiang I am trying to reproduce your issue, Can you fork https://github.com/strongloop/loopback-sandbox and replace with your code? Include some details like which loopback api you called, or is it a native query directly talk to cloudant datasource. Thanks.

[2016-11-26 23:14] biancajiang commented on #61
@jannyHou I'm not sure how to recreate it in a test env. w/o sharing the exact DB yet (proprietary data).  The server and DB have been in use and working for months.  Please let me know if you have any idea how to approach this.

Our models include objects like "Scan", "Package" and "LicenseFile".  Scan has many Packages and many LicenseFiles.  Package has many LicenseFiles.

Right now APIs involv

[2016-11-28 16:09] jannyHou commented on #38
Closing it since we have a concrete plan in https://github.com/strongloop/loopback-connector-cloudant/issues/55

[2016-11-28 16:09] #38 closed

[2016-11-28 19:00] tam512 commented on #18
Hello,

I just tried to push the application without url and it still failed.

datasources.json file:

{
 "appData": {
  "name": "appData",
  "connector": "cloudant",
  "username": "tamdinh@us.ibm.com",
  "password": "my password",
  "database": "ebuyjs"
  }
}

Failed to push the application with the following error :

/home/vcap/app/node_modules/loopback/lib/application.js:246
    at DataSource.s

[2016-11-29 20:21] jannyHou commented on #61
I created a simple model `Test` and try get instance from cloudant server:
the query it runs:
[code]

I didn't see problem here with the query itself. It's exactly the same query you use for your package model.

While I do reproduce the error with replicate db you provide me.
I understand that this blocks you badly but I am afraid we could not fix it on our end, because it breaks on that db and lo

[2016-11-30 16:10] jannyHou commented on #61
I am closing this issue since cloudant team would be proper to explain the error message and provide a solution. Thanks for understanding.

[2016-11-30 16:10] #61 closed

[2016-11-30 16:38] kjdelisle commented on #56
It seems like this issue is actually about not supporting plugin configuration in the connector; we're not passing through an options object that allows configuration of the nodejs-cloudant module.
https://github.com/strongloop/loopback-connector-cloudant/blob/master/lib/cloudant.js#L56
cc @superkhau @jannyHou

[2016-11-30 16:42] l2fprod commented on #56
@kjdelisle you're right. I've a straightforward fix https://github.com/l2fprod/loopback-connector-cloudant/commit/f342236322aa0f959d9a423a8238387c8ba4c8c7 for my own app but would love to see plugin support built in the connector!

[2016-11-30 17:17] kjdelisle opened #62 "Configuration options are not appropriately passed to Cloudant Driver"
connected to https://github.com/strongloop/loopback-connector-cloudant/issues/56

The options object we expect at connector construction is not being handled in a way that allows
configuration options to be passed through to the Cloudant driver (see
https://github.com/strongloop/loopback-connector-cloudant/blob/master/lib/cloudant.js#L56).

We should only minimally inspect the options object for t

[2016-12-07 17:35] cgole commented on #31
@deepakrkris this needs to be fixed asap. Customer is pushing for a fix

[2016-12-09 20:28] biancajiang commented on #61
This was an issue with Cloudant DB and was resolved.  Thanks!

[2016-12-09 21:45] jannyHou commented on #61
@biancajiang Glad to hear it's solved :) No problem.

[2016-12-12 05:31] xi4oc4i opened #67 "Support to query view"
### Bug or feature request

- [ ] Bug
- [x ] Feature request

### Description of feature (or steps to reproduce if bug)

Couch connector supports to query the view, will cloudant connector support this feature?

https://www.npmjs.com/package/loopback-connector-couch

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (No

[2016-12-14 18:05] kjdelisle opened #68 "Support API Keys"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)
Cloudant supports the generation of API keys with their own credentials, which ensures that you're not using administrative credentials to perform operations against the DB.

The nodejs-cloudant driver allows use of keys, and this connector should do the same.

[2016-12-30 19:50] rimvydas-urbonas commented on #47
What is the status of this issue?

[2017-01-03 21:13] jannyHou commented on #47
@rimvydas-urbonas We label the issue as "Needs Priority" but it's not in backlog yet :(

[2017-01-03 21:15] rimvydas-urbonas commented on #47
Maybe you can suggest workaround to update array property by replacing value not appending?
Thanks in advance.

[2017-01-10 17:11] kjdelisle commented on #56
I've merged the passthrough into the master stream, and it should be a part of the connector's 3.0.0 release when that time comes.

[2017-01-10 17:11] #56 closed

[2017-01-10 17:15] kjdelisle commented on #62
This has been fixed in the PR above.

[2017-01-10 17:15] #62 closed

[2017-01-10 17:23] kjdelisle commented on #47
Being unable to update array properties seems fairly major to me. Going to add this to our backlog.

[2017-01-13 16:50] gunjpan opened #71 "udpateAll( ) fails if input data object is a LoopBack model instance"
### Description of feature (or steps to reproduce if bug)
When `updateAll()` is invoked with loopback `model` instance as payload, it fails with complaining: `Bad special document member: __cachedRelations` and similar.
Other NoSQL connector i.e. mongo connector, AFAIK, supports `model` instance as payload.

[2017-01-16 13:51] vinodk21 opened #73 "TypeError: Cannot read property 'length' of undefined loopback-connector-cloudant/lib/cloudant.js:230"
Hi ,

Application is crashing frequently because of the following error. (loopback-connector-cloudant 1.0.11 ).

ERR /home/vcap/app/node_modules/loopback-connector-cloudant/lib/cloudant.js:230
2017-01-16T15:38:39.42+0530 [App/0]      ERR       for (var i = 0; i < docs.length; i++) {
2017-01-16T15:38:39.42+0530 [App/0]      ERR                               ^
2017-01-16T15:38:39.42+0530 [App/0]

[2017-01-24 16:36] gunjpan commented on #47
@jannyHou : The root cause for this issue is `_.merge()` at [lib/cloudant.js : L517](https://github.com/strongloop/loopback-connector-cloudant/blob/35580d0df5ce322f194e3c5b606e4230965ae021/lib/cloudant.js#L517). This should be replaced with `_.mergeWith(object, sources, customizer)` where `customizer` is the function to handle Arrays. See more [here](https://lodash.com/docs/#mergeWith)

[2017-01-24 16:39] gunjpan commented on #44
@jannyHou : Same issue as: https://github.com/strongloop/loopback-connector-cloudant/issues/47#issuecomment-274858304

Root cause: https://github.com/strongloop/loopback-connector-cloudant/blob/35580d0df5ce322f194e3c5b606e4230965ae021/lib/cloudant.js#L574

[2017-01-24 16:56] #71 closed

[2017-01-31 10:15] ufuf commented on #18
Are there any news on this?

[2017-01-31 15:38] jannyHou commented on #18
Raised by issue https://github.com/cloudant/nodejs-cloudant/issues/167, should have been fixed in cloudant@1.7.0
@ufuf can you try reinstall loopback-connector-cloudant?

[2017-01-31 16:05] ufuf commented on #18
@jannyHou I started a whole new project and installed cloudant@1.7.0 and loopback-connector-cloudant@1.1.0 but I still get the same error while adding the datasource through API Designer.

[2017-01-31 16:24] jannyHou commented on #18
@ufuf hmm, first this error only happens when your url/other-config are invalid, the fix doesn't stop the error, but handles it with proper error information, e.g. now an invalid url will result in an error message like:
[code]
it explicitly tells you the problem is `invalid url`

[2017-01-31 16:40] ufuf commented on #18
@jannyHou first I do not get invalid url error. I still get undefined. Second the url is valid when accessing directly through postman or chrome.

Here is the error message:
/Users/ufukarslan/Projects/apic_test/magistra/node_modules/loopback/lib/application.js:246
    throw err;
    ^

TypeError: Cannot create data source "cloudant": Cannot initialize connector "cloudant": Cannot set property 'use

[2017-01-31 18:11] jannyHou commented on #18
@ufuf other than `url`, do you have other configs in your datasource file? Can you paste all your config here? Thanks, fake credential is fine I just want to know which config causes the problem. When I try with a valid config(valid username/password/database), it works fine.

[2017-02-01 21:47] jannyHou opened #75 "Append fieldType when sort with nested property"
Related to https://github.com/strongloop/loopback/issues/517#issuecomment-275532100

cloudant sort needs specified fieldType, either :string or :number, details please check https://docs.cloudant.com/cloudant_query.html#sort-syntax

Now we already append the fieldType for first level properties but not nested ones. Therefore when sorting with nested property(e.g. [test in juggler](https://github.c

[2017-02-01 22:15] jannyHou commented on #75
Solution:
- From the perspective of loopback, users should be able to query nested property without specifying its type, e.g. `{order: 'address.city DESC'}`, https://github.com/strongloop/loopback-connector-cloudant/pull/76 provides the default field type as `string`, and users can override it by appending their type in query, e.g. `{order: 'address.city:number DESC'}`

- From the perspective of c

[2017-02-01 22:21] jannyHou opened #77 "$regex requires an equality operator as the basis of the query"
From cloudant document page: https://docs.cloudant.com/cloudant_query.html#sort-syntax

[code]
would result in error ` error: "no_usable_index", reason: "There is no operator in this selector can used with an index."`

"_id": { "$gt": null }
This expression is always true, enabling the remainder of the selector expression to be applied.

So build selector like:

[code]

[2017-02-01 22:31] jannyHou opened #78 "use $elemMatch when query on elements in an array field"
$elemMatch: Matches and returns all documents that contain an array field with at least one element that matches all the specified query criteria.

Use case:
*seed data*
[code]
*wrong query*
`{where: {friends.name: 'Ringo Starr'}}`
*right query*
`{where: {friends: {$elemMatch: {name: 'Ringo Starr'}}}}`

[2017-02-02 21:51] ufuf commented on #18
@jannyHou here is a sample datasourcefile

{
  "magistra": {
    "url": "https://XXX:YYY@zzz-z-z-bluemix.cloudant.com/magistra/",
    "name": "magistra",
    "connector": "cloudant"
  }
}

It is same with this one:
{
  "cloudant": {
    "url": "",
    "database": "magistra",
    "username": "xxx",
    "password": "yyy",
    "name": "cloudant",
    "modelIndex": "",
    "connector": "cloudant"
  }

[2017-02-02 21:56] ufuf opened #79 "Connector assumes username and subdomain should be same"
### Bug or feature request

- [ ] Bug
- [X] Feature request

### Description of feature (or steps to reproduce if bug)

Connector assumes that username and cloudant url subdomain is same. But I do not have to use the admin credentials with full access.
I should be able to create a restricted user for connection through cloudant dashboard and that can also be used by the connector.
Right now this c

[2017-02-03 14:55] jannyHou commented on #75
@strongloop/sq-lb-apex PTAL. Thanks.

[2017-02-03 16:25] jannyHou commented on #79
I believe it's same as https://github.com/strongloop/loopback-connector-cloudant/issues/68

[2017-02-06 22:54] jannyHou commented on #77
Fix in PR https://github.com/strongloop/loopback-connector-cloudant/pull/81
**Please note that the fix may not work when a condition for `_id` also exists in the filter.**
- If the `_id` filter contains equality operator then good, `$regex` will be applied.
- While if not, it's hard on connector side to add another equality filter without affecting the returned result. In this case,  user will nee

[2017-02-10 15:14] jannyHou commented on #75
Closing since pr merged

[2017-02-16 16:07] kjdelisle commented on #77
@jannyHou You'll be writing the documentation for this change as a part of this task.

[2017-02-16 17:41] kjdelisle commented on #77
Documented. Closing.

[2017-02-16 17:41] #77 closed

[2017-02-28 17:39] wtkersting commented on #46
Hello, all, I am receiving the same error as OP and couldn't tell from this discussion if anything was resolved.

Here is my error:

{
  "error": {
    "statusCode": 500,
    "name": "Error",
    "message": "The connector cloudant does not support replaceById operation. This is not a bug in LoopBack. Please contact the authors of the connector, preferably via GitHub issues.",
    "stack": "Error:

[2017-03-01 02:32] wtkersting opened #84 "replaceById operation not supported by cloudant connector"
### Bug or feature request

- [ ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Currently when attempting to do a createOrReplace or any other replace command through my API, I am receiving a 500 error code:

  "error": {
    "statusCode": 500,
    "name": "Error",
    "message": "The connector cloudant does not support replaceById operation. This is not a b

[2017-03-02 15:06] dhmlau commented on #73
Hi @vinodk21 , could you please provide more information in reproducing the problem?  e.g. loopback application, or model json?  thanks.

[2017-03-02 23:31] 0candy commented on #73
@vinodk21 Could you please update to the latest cloudant connector and try again? Please provide the debug logs if you encounter this issue again.

[2017-03-06 15:48] #84 closed

[2017-03-06 15:48] dhmlau commented on #84
Closing this issue.  Duplicate of https://github.com/strongloop/loopback-connector-cloudant/issues/46.

[2017-03-06 16:42] jannyHou commented on #78
Reopen this issue since the previous fix only works when model is created in code.

Several problem with the previous pr, which need to be fixed:

- [ ] The filter only works with apis in code but doesn't work with explorer
- [ ] The previous pr is based on an assumption that the connector can get all dataType of nested properties. If the model is created in code, like what test case does, all dat

[2017-03-06 16:48] jannyHou opened #88 "Add the ability to have the cloudant use a proxy agent"
### Feature

### Description of feature (or steps to reproduce if bug)

Add the ability to have the cloudant use a proxy agent. Originally raised by pr https://github.com/strongloop/loopback-connector-cloudant/pull/53

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Additional information (Node.js version, LoopBack version, etc)

[2017-03-06 21:23] dhmlau commented on #73
The fix has been released in v1.2.2.  Please try again.

PR: https://github.com/strongloop/loopback-connector-cloudant/pull/87

[2017-03-06 21:27] kjdelisle commented on #73
Closing as fixed. Please comment here if v1.2.2 does not resolve the issue.

[2017-03-07 15:13] #73 closed

[2017-03-13 15:12] jannyHou commented on #78
UPDATE:
Before solving the bugs mentioned in https://github.com/strongloop/loopback-connector-cloudant/issues/78#issuecomment-284454583 we are not sure should we wrap the array property by detecting property type in loopback, or add a detailed doc to tell the user to include `elemMatch` in their filter?

cc @raymondfeng

[2017-03-28 10:06] bluemixgarage commented on #56
Hi, do we have an idea when the 3.0.0 will be released?

[2017-03-28 15:14] jannyHou commented on #43
@jmereaux Thank you for catching the bug, I will take a look asap.

[2017-03-28 17:46] jannyHou opened #92 "automigrate bug -- document conflict error"
**BUG**

- with empty db, or db doesn't have the model's document
- use `db.define()` to create model
- run `db.automigrate()`
- it complains conflict error, since the automigrate function runs twice, once when connection established, once when the function get called. The conflict might raised by race condition(two model create request runs together)

[2017-03-30 18:13] jannyHou commented on #43
@jmereaux I verified with loopback-connector-cloudant@1.1.0 and the latest version @1.2.2, `upsert` works for both of them.

1. create a cloudant ds
2. create a model attach it to that ds
3. create a bootScript:
[code]

4. `node .` and you will see it works.

If you still run into this error, could you fork https://github.com/strongloop/loopback-sandbox and provide me your code? Thanks!
And please

[2017-04-04 22:10] b-admike commented on #18
hi @tam512, for your issue in https://github.com/strongloop/loopback-connector-cloudant/issues/18#issuecomment-263361019, please set the `host` field. it will look something like:
[code]

or

[code]
I was able to find the credentials in Bluemix by going to Service Details -> Service Credentials for my cloudant db service.

@ufuf if I add the database name at the end of the cloudant server host and

[2017-04-05 05:57] ufuf commented on #18
Hi @b-admike
Yes it is the same issue. It does not accept just url. And as I said Cloudant connector expect username and subdomain to be the same. So you have to enter admin credentials.

[2017-04-05 13:55] dhmlau commented on #67
@raymondfeng, any thought on supporting query on view (or search indexes) for Cloudant connector?

[2017-04-05 14:57] b-admike commented on #18
@ufuf Can you explain what you mean by

what is the `subdomain` in this case? Can you also please list the steps you took to create a restricted user? I created another set of credentials in my Bluemix cloudant service, and got the same results (I was able to connect fine).

If you want to use the url for your datasource, you'd do something like the following:

[code]
or
[code]

[2017-04-05 16:16] b-admike commented on #18
Okay, I was able to create a new user by generating an API key and gave it the `_reader` and `_writer` roles for both `_users` database and my own `foobar` database. When I try to auto migrate a model with that user, I get the following:
[code]
Looking into this.

[2017-04-05 18:14] b-admike commented on #18
@ufuf @krsyoung I get the issue now. the cloudant driver appends the `.cloudant.com` to the `username` field if you specify `username` and `password` fields in your datasource config, but not specify the `url` field. Therefore, like you said @ufuf, if you specify a non-root user on your bluemix cloudant service, it will not work. The reason is that the default root user has the same name as the se

[2017-04-05 22:47] jannyHou opened #94 "automigration bug -- migration not done before boot script runs"
**Reproduce**:
- MAKE SURE cloudant database is empty
- `slc loopback`, use `notes` template, so it has auth system and `User` model
- Attach User and auth related models to a cloudant datasource
- In boot script, create a new `user` instance
- Get error complains user is not valid
note: this won't happen if you already have the model's document in database.

**Investigation**:
setTimeout in boot

[2017-04-06 15:47] b-admike commented on #18
@ufuf @krsyoung This issue is coming back from our cloudant driver if you specify the database name in the url i.e. `"url": "https://hostname.cloudant.com/mydatabase"` in our connector. Here is a simple test:
[code]
It looks like it is not supported there. See [here](https://github.com/cloudant/nodejs-cloudant/issues/96#issuecomment-178047190). In order to address the two issues seen here:

1. use

[2017-04-11 14:09] jmereaux commented on #43
@jannyHou I've just tested with the latest version @1.2.2.
Still running into the issue.
Could it be linked to the fact that the model instance I'm trying to upsert has a custom id:

"email": {
      "type": "string",
      "id": true,
      "required": true
}

[2017-04-12 02:32] jasondbchapman opened #100 ""Cannot read property 'password' of undefined""
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

After updating to the latest Angular CLI I have been receiving this error everytime that I attempt to send a post or get request to upload/retrieve a document.

I am not clear what property password it is referring to and why this error is occurring after I updated the angular cl

[2017-04-13 19:17] kjdelisle commented on #18
@b-admike Please confirm that this is a downstream issue and we'll put this on the backburner pending a fix from nodejs-cloudant.

[2017-04-18 21:06] jannyHou commented on #92
Turns out the problem is cloudant has its own `define` function that overrides the one in loopback-connector. It doesn't only add a model to datasource's `_model` object, but also **update** the index, which is exactly what `automigrate` does.

I remove `define` function in PR to solve the problem because in loopback-datasource-juggler and other loopback components like loopback-boot, it's used as

[2017-04-19 00:35] b-admike commented on #18
@kjdelisle the issue is actually our `define` function calling `selectModel` which tries to use the cloudant connection object before it came back from our connect call during initialize. #92 addresses that issue, and #98 can be landed afterwards.

[2017-04-19 02:36] jasondbchapman commented on #100
Wanted to follow up and see if anyone had any ideas on how to fix this issue? I have not yet found a workaround

[2017-04-19 16:34] b-admike commented on #100
hi @jasondbchapman, thank you for your detailed description of the issue. Can you provide high level steps you took before you hit the issue and the full stack trace of the error? Anything else you think can be helpful as well.

[2017-04-21 21:39] jannyHou commented on #94
Fixed in PR https://github.com/strongloop/loopback-connector-cloudant/pull/102

Now user need to run `cloudantDS.automigrate()` to migrate models.

[2017-04-24 17:28] jannyHou opened #104 "specify unique identifier `uuid` in a property"
### Feature
- [x] Feature request

### Background of feature
After triaging/helping solve some user's problem, I feel people use cloudant connector **are not aware of couchdb is not designed to change same document frequently and multiple times**, couchdb stores status change by creating different documents and including the same unique id to tell that they are attached to the same item, not updat

[2017-04-24 19:56] jannyHou commented on #33
Some update:
- Now all local test files are enabled on master branch: https://github.com/strongloop/loopback-connector-cloudant/commits/master

- Imported tests from juggler:
  - still undergoing
  - will look into every failure and either fix it(at least file bug) or document it as the gap between loopback connectors and cloudant(here I assume what juggler tests is our unified expected behaviour

[2017-04-25 14:51] jannyHou commented on #67
query view would be a cloudant specific function, it will be good if we can define it in cloudant connector, like:
[code]
then in juggler `lib/datasource.js`, we can mix certain connector specific functions to Model, like how we mix DAO functions to model in https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L585

This would also be useful across all connectors

[2017-04-25 16:15] dhmlau commented on #67
@jannyHou @raymondfeng , I think it's a good idea to have a consistent story in supporting views across connectors because they are not specific to Cloudant.

Similar question in mssql: https://github.com/strongloop/loopback-connector-mssql/issues/26

[2017-04-25 16:17] jannyHou opened #106 "use async function to create cloudant Driver instance"
Figure out how to use async function to create cloudant Driver instance

Now we create the driver instance in sync way, which results in we cannot callback the invalid url error properly.

[2017-04-25 16:17] jannyHou commented on #106
cc @b-admike

[2017-04-25 16:51] jannyHou commented on #33
Failures:

- [ ] relations.test.js: [with filter skip](https://github.com/strongloop/loopback-datasource-juggler/blob/e9ff88f4536d0108712e802f89857bb170f393e1/test/relations.test.js#L734)

[2017-04-26 18:21] jannyHou commented on #106
Closing it since we decide to fix it in original pr

[2017-04-26 18:21] #106 closed

[2017-04-26 20:53] djorg83 opened #110 "Upsert fails to create document when id provided, throws 404 NOT FOUND"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

The create portion of upsert does not work if an id is supplied in the `data` argument.

Sample upsert call
[code]

Model definition
[code]

### Link to sample repo to reproduce issue (if bug)

### Expected result

Document should be created if not found by id.

### Actual result

[2017-04-27 13:47] djorg83 commented on #35
Possibly related to #110

[2017-04-27 21:05] jannyHou commented on #35
@djorg83 thanks for catching the error in #110 , this is not the same one.
cloudant only support full replace of document, but not partial update.
This issue will implement an update method which does partial update.

[2017-04-30 14:24] patsvc commented on #56
Any plans to port this to the LTS release? We would really like to have this fix because we keep hitting these limits.

[2017-05-01 14:03] #18 closed

[2017-05-01 14:10] kjdelisle commented on #56
@patsvc I'll add this to our backlog. It's not a breaking change, so I imagine it wouldn't be too much work.

[2017-05-01 14:12] kjdelisle opened #113 "Backport options passthrough to 1.x"
connected to https://github.com/strongloop/loopback-connector-cloudant/issues/56

The options passthrough fix allows configuration of the lower-level drivers (nodejs-cloudant/nano), but is not a breaking API change. This fix has been asked for by members of the community.

[2017-05-01 14:27] #92 closed

[2017-05-01 19:19] #94 closed

[2017-05-01 19:27] kjdelisle commented on #43
@jmereaux Hello again! Would you be able to provide a reproduction using a fork of [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) as a base?
Thank you!

[2017-05-02 14:13] jannyHou commented on #43
@kjdelisle I think it's same as https://github.com/strongloop/loopback-connector-cloudant/pull/111

[2017-05-02 16:14] jannyHou commented on #43
I am closing this one as a dup of #111 , let's keep discussion there. Thank you @jmereaux for catching it.

[2017-05-02 16:14] #43 closed

[2017-05-02 17:59] jannyHou commented on #78
fixed in PR#90

[2017-05-02 17:59] #78 closed

[2017-05-02 17:59] jannyHou commented on #75
Fixed in PR#90

[2017-05-02 17:59] #75 closed

[2017-05-03 18:15] ssh24 commented on #31
Issue fixed on #115. Moving it to TBR.

[2017-05-03 18:21] jannyHou commented on #104
cc @kjdelisle this is the issue that discuss uuid.

[2017-05-03 18:59] jannyHou opened #118 "Discovery"
## Feature

- discoverModelDefinitions
  - We can only discover modelName without properties
  - user should be able to provide custom modelSelector and map the design doc to a loopback model
- discoverSchemas
  - discover databases in a cloudant server

[2017-05-04 18:31] jannyHou commented on #35
Some possible solutions:

- Keep it same as `replaceOrCreate`, and warn users there is not partial update.
- (Tricky) We implement a way to merge data from document and updated data, then call `_insert` , which will do replace
- Throw error/warning in this method to explicitly tell user they need to define their own method if they do want to partial update.

[2017-05-08 21:32] jannyHou commented on #67
- [db.view(designname, viewname, [params], [callback])](https://github.com/apache/couchdb-nano#dbviewdesignname-viewname-params-callback)
  - This is the main function exported by nano to query view.
  - If our goal is to support it, we can define a method `Cloudant.prototype.view(viewname, [params], cb)`, `designname` can be read from loopback model name, `viewname` and `params` are inputs.

[2017-05-09 17:34] jannyHou commented on #118
get all design docs:
`GET /dbname/_all_docs?startkey="_design/"&endkey="_design0"&include_docs=true`

by api `db.list(opt, cb)`, provide the query in options according to https://github.com/apache/couchdb-nano/blob/master/lib/nano.js#L72

[2017-05-12 00:19] ssh24 commented on #56
This should be released on `v1.2.3`

[2017-05-12 00:20] ssh24 commented on #113
Backport has been released on `v1.2.3`. Closing the issue.

[2017-05-12 00:20] #113 closed

[2017-05-12 00:54] jannyHou commented on #15
Hi @tonyffrench I am trying to support querying `view` in a loopback model, and come across problem when creating a `view` in a lb-model's design document.

When I read your comments above I think maybe you could share more insight here, any help or clue are appreciated :)

Now the `index` is created with `type=text`(to support cloudant query), and the design doc of the `index` has `language: 'que

[2017-05-12 19:36] #31 closed

[2017-05-12 19:37] jannyHou commented on #67
Turns our the `view` could not be a model level api with current design, explained in https://github.com/strongloop/loopback-connector-cloudant/issues/15#issuecomment-300955117

Other plans:

- strategy1: Support those design functions like view as datasource level functions, so a view don't need to be created in a lb-model's design doc.
- srategy2: Use two design docs(one for index one for view)

[2017-05-16 14:48] kjdelisle commented on #55
@ssh24 What's left for this task:
- Ensure `_.rev` is not being altered on any of the remaining CRUD methods. The PR in its current state has replaceOrCreate, updateOrCreate and create covered (with tests). You'll probably need to make sure that all of the find and destroy functions also respect it.
- You'll also need to demonstrate that they work across the REST APIs; that is, it should show the

[2017-05-19 16:30] ssh24 commented on #55
The feature has been landed and awaiting to be released on the next major version. Closing this ticket as a result.

[2017-05-19 16:30] #55 closed

[2017-05-22 15:09] jmereaux commented on #56
Hi, still running into this issue after upgrading to `1.2.3` and adding the following to my datasource config:
`'plugin':` 'retry',
'retryAttempts': 5,
'retryTimeout': 1000`

Any advice?

[2017-05-22 21:37] jannyHou commented on #56
@jmereaux  Is your model a `User` model or just a regular persistedModel? And which cloudant server are you using? A bluemix one or docker one or?

[2017-05-23 07:24] jmereaux commented on #56
@jannyHou It is a regular PersistedModel. I'm using a Cloudant server on Bluemix (standard plan = 100 lookups/s, 50 writes/s, 5 queries/s)

[2017-05-24 15:20] kjdelisle commented on #118
This feature doesn't align with the more fundamental usage of CouchDB/Cloudant-like NoSQL databases. There is no inherent information that can be examined with certainty to decide which documents represent Models, or how many fields on a document represent the "minimum definition" of a Model.

[2017-05-24 15:20] #118 closed

[2017-05-24 15:21] jannyHou commented on #110
Closing since https://github.com/strongloop/loopback-connector-cloudant/pull/129 merged

[2017-05-24 15:22] #110 closed

[2017-05-24 15:32] kjdelisle commented on #100
This issue sounds like it's potentially related to the Angular component, and not necessarily this connector. Do you have any reproduction you can provide that demonstrates this working up until the connector layer? If we can see that the "password" value is making its way down to the connector level before erroring out, then this issue would make sense.

Otherwise, I'd like to close this and woul

[2017-05-24 15:32] #100 closed

[2017-05-24 15:33] kjdelisle commented on #88
This should be fixed by the options passthrough changes in 1.x. Needs verification

[2017-05-24 15:37] kjdelisle commented on #15
Closing this. See #67 for progress on this item.

[2017-05-24 15:37] #15 closed

[2017-05-24 15:41] jannyHou commented on #47
I think it's already fixed in https://github.com/strongloop/loopback-connector-cloudant/pull/117, closing it. Feel free to reopen it if you still run into same error.

[2017-05-24 15:41] #47 closed

[2017-05-24 15:42] jannyHou commented on #44
I think it's already fixed in https://github.com/strongloop/loopback-connector-cloudant/pull/117, closing it. Feel free to reopen it if you still run into same error.

[2017-05-24 15:42] #44 closed

[2017-05-24 15:43] kjdelisle commented on #46
This will be out when 2.0 is released.

[2017-05-24 15:45] #42 closed

[2017-05-24 16:05] jannyHou commented on #19
hi @AvikSengupta27 any updates in this issue? details see https://github.com/strongloop/loopback-connector-cloudant/issues/19#issuecomment-261574497, thanks.

[2017-05-24 20:23] kjdelisle commented on #11
I wouldn't expect the connector to be responsible for creating databases on a user's behalf, especially since there's any number of reasons why that call is returning an error.

[2017-05-24 20:23] #11 closed

[2017-05-24 20:36] jannyHou commented on #20
@htammen do you still run into same error? Could you provide the filter you used? Thanks. We have a bunch of test cases for `$regex` and they all pass.

[2017-05-29 17:49] dhmlau commented on #41
It's completed in this commit.  https://github.com/strongloop/loopback-connector-cloudant/commit/eaa0a68ebd206ab1b86a29b2c0df3162cfee0396
Closing it.

[2017-05-29 17:49] #41 closed

[2017-05-31 19:00] b-admike commented on #67
Steps taken to verify:

- Create a DDoc on cloudant db called `TestViewDDoc` with a view `hadtraining`
[code]
- Create some docs which satisfy the view criteria
- Add boot script to a test LB app which is connected to the same cloudant db and queries for the view:
[code]

Results:
[code]
Thanks @jannyHou for your help!

[2017-05-31 21:20] b-admike commented on #20
Steps to verify:
- create basic LB app with model `model1` connected to cloudant datasource.
- create following boot script:
[code]

results:
[code]

[2017-05-31 22:00] b-admike commented on #88
Verification steps:
- create a simple http proxy using `http-proxy` module for local cloudant server:
[code]
- modify datasource to point to proxy:
[code]

result:
[code]

[2017-05-31 23:15] ssh24 commented on #37
Issue fixed on PR https://github.com/strongloop/loopback-connector-cloudant/pull/145.

Also backported for 1.x https://github.com/strongloop/loopback-connector-cloudant/pull/146

1.x shall be released first, while the fix on 2.x will go out when 2.x is released in the upcoming weeks.

[2017-05-31 23:20] #37 closed

[2017-06-01 12:44] ssh24 commented on #79
@ufuf When you have another user that does not have the **admin** role, but has some sort of **read, create, etc...** permission on the database, you can use the `CLOUDANT_URL` env variable to set the url or set the url on the datasource config as well. For more information, please read the docs on how to use [`url vs username vs password`](https://github.com/strongloop/loopback-connector-cloudant

[2017-06-02 14:13] dhmlau commented on #17
@virkt25  could you please take a look? thanks.

[2017-06-02 19:28] b-admike commented on #88
connect to https://github.com/strongloop-internal/scrum-apex/issues/240

[2017-06-02 19:29] #88 closed

[2017-06-02 19:30] b-admike commented on #20
connect to https://github.com/strongloop-internal/scrum-apex/issues/240

[2017-06-02 19:30] #20 closed

[2017-06-02 19:30] b-admike commented on #67
connect to https://github.com/strongloop-internal/scrum-apex/issues/240

[2017-06-02 19:30] #67 closed

[2017-06-05 13:43] jannyHou commented on #17
I think it's a bug on Cloudant side, the Cloudant query only takes in JSON format query, then Cloudant query parser converts it to Lucene syntax query, while seems the parser doesn't handle minus value properly(e.g. escape dash)

[2017-06-06 17:42] ufuf commented on #79
@ssh24 I updated the connectors but still getting the error.
My configuration is cloudant@1.8.0, loopback@2.38.3, loopback-connector-cloudant@1.2.3
And my config is attached.
<img width="1012" alt="screen shot 2017-06-06 at 20 33 01" src="https://user-images.githubusercontent.com/4348233/26843347-9fab78f6-4af8-11e7-964a-c3268bda03a3.png">

[2017-06-06 18:35] ssh24 commented on #79
Sorry, @ufuf I thought the fix was already in 1.x. Reopening this issue and backporting the fix. Thank you for your patience.

[2017-06-06 19:15] ssh24 commented on #79
@ufuf Ignore my previous comment. Tried reproducing and the fix is already in 1.x.

Did you check the `_admin` role for the user you are giving the access to? Please check off the `_admin` role and try again.

[2017-06-07 04:40] #79 closed

[2017-06-08 10:13] ufuf commented on #79
@ssh24 it seems off. My permissions screen is like this:
<img width="860" alt="screen shot 2017-06-08 at 13 11 19" src="https://user-images.githubusercontent.com/4348233/26923868-310269a0-4c4c-11e7-8334-a3f3e76327e6.png">

[2017-06-08 11:09] ssh24 commented on #79
@ufuf You need to check off the `_admin` role to the user in blue.

[2017-06-08 11:12] ufuf commented on #79
@ssh24 it is already off. only reader and writer attributes are selected.

[2017-06-08 11:13] ssh24 commented on #79
Sorry, I meant to check it on.

[2017-06-08 11:18] ufuf commented on #79
I checked it on. Right now all the checkboxes are selected. But in Api Designer I am still getting error while trying to connect.
<img width="589" alt="screen shot 2017-06-08 at 14 17 08" src="https://user-images.githubusercontent.com/4348233/26926189-5a040ea4-4c55-11e7-90b1-f113d6c2c0df.png">

[2017-06-08 14:13] ssh24 commented on #79
@ufuf I can reproduce the above issue. But it is a apic bug rather than cloudant. I will file a bug in apic end to get this looked into asap.

In order to know it is not a cloudant bug, you can create a boot script and run it. It works with the custom user with `_admin` privileges.

`/server/boot/script.js`
[code]

Hope this helps you.

Also, thank you for helping us finding a bug on the product s

[2017-06-08 14:24] ufuf commented on #79
@ssh24 Thanks for the info. So I will wait for the product bugfix :)
Thanks for your help.

[2017-06-08 14:45] #35 closed

[2017-06-12 18:45] jannyHou commented on #17
ah, the latest release of [Cloudant Local docker@3](https://hub.docker.com/r/ibmcom/cloudant-developer/) fixes the problem.

<img width="1071" alt="screen shot 2017-06-12 at 2 44 24 pm" src="https://user-images.githubusercontent.com/12554153/27049554-af617686-4f7d-11e7-9d60-b03c04561d7c.png">

Please make sure you update to the latest Cloudant version.

[2017-06-12 18:45] #17 closed

[2017-06-13 19:06] jannyHou commented on #33
Couchdb Test:

- Global config DOESNOT load when bddIf and bddDescribe get executed

- [x] basic-query.test.js
  - Fail [should support date "lt" that is satisfied](https://github.com/strongloop/loopback-datasource-juggler/blob/b79763d0652b833ca9dab709b194ce2d9a171b66/test/basic-querying.test.js#L390): shouldn't `null` less than any date?

[2017-07-21 15:39] akshaysin opened #162 "Loopback-cloudant-connector creates a _all_fields index in cloudant by default"
### Bug or feature request

- Bug

### Description of feature (or steps to reproduce if bug)

Sometime back it was noticed that loopback by default created indexes on all_feilds(on any db in cloudant) if you use loopback-cloudant-adapter. However Cloudant support strongly discourages that practice. We are in fact having a lot of performance issues with Cloudant lately and this was one of the recom

[2017-07-21 16:25] djorg83 commented on #162
+1

[2017-07-24 20:05] jannyHou commented on #162
Hi @akshaysin @djorg83 If you remove the all_fields index for the sake of performance, you could not do ad-hoc sort without creating index for the property anymore, otherwise you see the error above

all_fields index implies two things:
- 1. supports ad-hoc selector even you don't create index for the property in `selector` object
- 2. supports ad-hoc sort even you don't create index for the prope

[2017-07-25 19:14] ritch commented on #162
Just to clarify @jannyHou - with the existing version of the cloudant connector, can I disable the `all_fields` index?

If so, a workaround for now would be to just disable the `all_fields` index and add in indexes for all properties you would like to query / sort (pretty common requirement for something like this).

If you can't disable the index, we should add a new issue to track that.

/cc @kj

[2017-07-25 19:23] jannyHou commented on #162
@ritch User need to hack the code to disable `all_fields` index, this is hard-coded in our connector.

[2017-07-25 19:24] ritch opened #165 "Use built in _id field and index"
Looks like we are not making it possible to use the built in `_id` field and index and instead create a separate index and alias. We should support disabling this separate index.

[2017-07-25 19:27] ritch opened #166 "findById optimization"
We should use the built in `get` function when retrieving by _id (`findById()`) to allow for driver / db optimizations. If this is only possible in certain cases (eg. only using the default `_id` index, we should allow for this under that use case / configuration).

[2017-07-25 19:35] ritch opened #167 "Support disabling all_index"
We force the `all_fields` in order to support mongodb style dynamic object querying - without specifying an index for each property. This makes it hard / impossible to optimize your usage of the connector though.

This issue is for tracking a new feature:

 - being able to disable `all_fields` via configuration
 - being able to manually opt into index for each property that should be indexable

[2017-07-26 14:19] akshaysin commented on #167
+1

[2017-07-26 15:28] kjdelisle commented on #165
This issue is being raised as a performance issue, but whoever ends up taking this task should run a performance test with two different versions of the same model:
- One where the id is autogenerated (`id`)
- One where you explicitly declare `_id` as a field, and mark it with `{ id: true }`

If this doesn't yield a statistically significant difference in performance, then we'll need to re-evaluat

[2017-07-26 16:00] willholley commented on #162
@jannyHou in recent versions of Cloudant (Cloudant Local 1.1 or Cloudant aaS) you should never see the `no_usable_index,missing_sort_index` error - if you do, it's a bug in Cloudant. Indexes should only impact performance - they should not change the result/response to a query.

[2017-07-26 18:09] jannyHou commented on #166
- “The Cloudant connector uses `find` instead of `get` for `findById` queries.”
This is not true, actually loopback-connector-cloudant@1.x is using api `get` to fetch the instance, please check code in https://github.com/strongloop/loopback-connector-cloudant/blob/1.x/lib/cloudant.js#L505

- “The `find` query uses the `loopback__model__name` as part of the query, sorted and limited to one item”
Fr

[2017-07-26 21:26] kjdelisle commented on #165
So, I've run some automated tests with both these scenarios against the LoopBack Notes template, on Cloudant Local and found no statistically significant difference in performance between them. I'm not sure where the performance complaint stems from in that respect.

I think as a workaround, users can explicitly define `_id` as a field on their models for the loopback-connector-cloudant in the 1.x

[2017-07-26 21:27] kjdelisle commented on #165
The greater problem stems from the idea that LoopBack 3 itself is the reason for the default `id` alias, which is not something that can be controlled for at this level.

[2017-07-31 14:45] b-admike commented on #166
@ritch thoughts on @jannyHou's comments? Is this still an issue?

[2017-08-03 23:15] kjdelisle commented on #165
Fixed and released!

[2017-08-03 23:15] #165 closed

[2017-08-08 15:15] jannyHou commented on #33
Close it since all PRs checked in.

[2017-08-08 15:15] #33 closed

[2017-08-10 16:28] jannyHou commented on #166
Thank you @b-admike we recently realized `Cloudant.prototype.find(alias findById)` is not called by any dao.js functions yet. Which means the connector method is a optimized one while juggler function doesn't call it, but calls `Cloudant.prototype.all` instead.

Plan to support optimized `findById` in juggler:
- In dao.js `DataAccessObject.findById`,
[code]

@ssh24 created a PR try to implement it

[2017-08-22 18:05] jannyHou commented on #19
I am closing this issue due to out of date, please feel free to reopen it if you still have problem after follow https://github.com/strongloop/loopback-connector-cloudant/issues/19#issuecomment-261574497, thanks!

[2017-08-22 18:05] #19 closed

[2017-08-22 18:07] jannyHou commented on #8
I am closing this PR and let's keep discussion in https://github.com/strongloop/loopback/issues/517. Thanks!

[2017-08-22 18:07] #8 closed

[2017-08-23 13:25] kjdelisle commented on #46
@jonascoenen005
2.0.2 is out! Closing.

[2017-08-23 13:25] #46 closed

[2017-08-23 13:25] kjdelisle commented on #162
@akshaysin This is now fixed as of Cloudant 2.0.2, which has been released!

[2017-08-23 13:25] #162 closed

[2017-08-24 09:51] sebastiansutter opened #175 "Update of the connector to Version 2.0.2 breaks connection"
I had a working demo in APIC with the loopback connector just before version 2.0.2 got released. When I updated the connector from version 1.2.5 to version 2.0.2, the connection from the data source in APIC Designer is no longer possible.

Steps to reproduce:
create a new loopback project on commandline: apic loopback
open api designer: apic edit
Got to Data Models and create a Cloudant Data Sourc

[2017-08-25 07:58] fizzl opened #176 "Update to 2.0.2 breaks modelIndex"
# Description/Steps to reproduce
I was updating my API from loopback 2.x to 3.x. I also updated loopback-connector-cloudant to 2.x.
After I had resolved all other issues, my last problem is that when I try to use my application, my first API query fails with:

[code]
In my datasouce config I have:
`modelIndex: 'modelIndex'
`
I also tried configuring indexes separately for said model, without succe

[2017-08-28 18:06] jannyHou commented on #175
@sebastiansutter I think I know why it fails, cloudant@1.x sometimes runs into a bug that executes functions before connection established and a valid driver instance get returned. To fix it, in cloudant@2.x we listen on the `connected` event when establishing a connection, for example, if your cloudant@1.x code is written in this way:
[code]
In cloudant@2.x you need to rewrite the function to:
[c

[2017-08-28 18:10] jannyHou commented on #176
@fizzl you don't need to provide a vm, just leave the datasource config empty in https://github.com/strongloop/loopback-sandbox I can test with my local instance.

By your description I don't know how to reproduce the error...the new connector doesn't inject an `use_index` field in query unless you provide it.

[2017-08-31 17:39] fizzl commented on #176
I'll check tomorrow if I can find out what I did to remedy this situation. I doing pretty complicated dependency upgrade and this was one of the issues. I got it solved somehow but I cannot remember how exactly from the top of my head.

I'll try to provide more details soon.

[2017-09-08 15:00] jannyHou commented on #166
@ssh24 PR: https://github.com/strongloop/loopback-datasource-juggler/pull/1459

[2017-09-11 18:45] kjdelisle commented on #166
Closing as this is not a Cloudant issue; I've moved the related juggler PR into Review on our board.

[2017-09-11 18:45] #166 closed

[2017-09-12 21:15] jannyHou commented on #176
@fizzl I just had a chat with other user and see the same problem.
I still have no idea why it happens, it fails when the user uses a connector@2.x with the design docs created with connector@1.x.

But if you restart your app with connector@2.x from scratch, create a new database, run `autoupdate` for your datasource, the bug disappears.

Will update more details after I figure out the reason.

[2017-09-13 18:55] jannyHou commented on #175
should be fixed in https://github.com/strongloop/loopback-connector-cloudant/commit/b59747cc36709d97087ded502f63ed3044b7856b

[2017-09-17 16:10] #68 closed

[2017-09-18 00:32] jannyHou commented on #167
The feature is released in version 2.x

[2017-09-18 00:32] #167 closed

[2017-09-21 18:18] dhmlau commented on #175
Version 2.0.3. has been released.  Closing this issue.

[2017-09-21 18:18] #175 closed

[2017-09-23 03:31] #104 closed

[2017-09-26 20:26] kjdelisle opened #180 "loopback-connector-couchdb2@1.0.3 breaks current master"
# Description/Steps to reproduce

Test fails on master:
[code]

[2017-09-26 20:39] kjdelisle commented on #180
This looks like it was a transient issue, closing.

[2017-09-26 20:39] #180 closed

[2017-12-01 16:34] #176 closed

[2018-02-14 22:15] Danwakeem opened #185 "Out dated / error in dependancies"
# Description
There seems to be an issue with the current version of Cloudant listed in this packages dependancies.

I have [forked this repo](https://github.com/Danwakeem/loopback-connector-cloudant) and updated the Cloudant package to the new version (1.10.0-NOTICE), ran `npm test` and that seemed to be a valid fix but I just wanted to open a issue before submitting a PR just incase you guys wer

[2018-02-20 14:11] dhmlau commented on #185
@Danwakeem , #186 has landed.  Is it good to close?  Thanks.

[2018-02-20 23:36] Danwakeem commented on #185
Oh yeah definitely @dhmlau

[2018-02-20 23:36] #185 closed

[2018-03-13 17:23] renezuidhof opened #188 "Count returns a max of 25"
When we request the Count method in our Loopback model it never returns anything higher then 25. There are more then 25 items in the database (tested by calling Find with a limit of 100).

Does anyone know why this happens or what I can do to further investigate this issue? Below is more information.

We are running a docker image (ibmcom/cloudant-developer:2.0.1) which we use as the database for

[2018-03-14 00:10] dhmlau commented on #188
@renezuidhof , it seems to be fixed in `loopback-connector-couchdb2@1.2.0` which the cloudant connector depends on.  Could you please which version of `loopback-connector-couchdb2` you're using? Thanks.

[2018-03-14 09:36] renezuidhof commented on #188
We are currently using loopback-connector-couch2db 1.1.0. Thanks for the tip, I will update to see if the bug is fixed.

[2018-03-14 13:43] renezuidhof commented on #188
Turns out the fix in 1.2.0 adds a global limit. If that global limit is not set the default limit of couchdb (default = 25) is still used. So count still only returns a max of 25.

We will try to see if we can work around this issue.

[2018-03-14 15:22] dhmlau commented on #188
You can set the limit at the top level of the datasources.json. e.g.
`globalLimit: 100`

[2018-03-15 11:19] renezuidhof commented on #188
Do you have an example of where exactly to set it?

[2018-03-15 18:21] #188 closed

[2018-04-19 06:26] xtran3 opened #189 "Query "like and case insensitive" with issues"
I'm trying to query cloudant (find) through the connector to search for the string "like and case insensitive".
Following the API from [http://loopback.io/doc/en/lb2/Where-filter.html#like-and-nlike-insensitive](http://loopback.io/doc/en/lb2/Where-filter.html#like-and-nlike-insensitive):
`var pattern = new RegExp('.*'+query+'.*', "i"); /* case-insensitive RegExp search */
Post.find({ where: {title

[2018-04-20 01:02] jannyHou commented on #189
@xtran3 With a quick look, I suspect it's the same problem as https://github.com/strongloop/loopback-datasource-juggler/issues/1550.

The connector doesn't receive the query as object but string instead, which results in a wrong conversion of query.

To make a more accurate investigation for your issue, you may need to fork https://github.com/strongloop/loopback-sandbox and provide some simple cod

[2018-04-20 06:09] xtran3 commented on #189
hi,

I have  checked in the code to https://github.com/xtran3/loopback-sandbox

I made a POST request with below info:
POST: http://localhost:3000/api/MyModel/load
Body: {"keyword": "abc"}

and this is error:
[code]

Please help me to investigate this issue.
thanks

[2018-06-07 18:07] Danwakeem opened #190 "Add support Geospatial queries"
# Description
Add Geospatial query mixin. It would be nice if it worked the same as the `viewDocs` mixin.

# Expected result
`db.connector.geoDocs(ddocName, viewName, options, cb);`
should return the results from [`db.geo()`](https://github.com/cloudant/nodejs-cloudant#cloudant-geospatial).

[2018-06-12 00:08] virkt25 commented on #190
Are you referring to something like this https://github.com/strongloop/loopback-connector-cloudant/pull/191

[2018-06-12 00:11] Danwakeem commented on #190
Yes, I am the one who opened that PR. I wasn’t sure if the maintainers would want me to open an issue along with a PR or not so I went ahead and did both.

[2018-06-12 00:47] dhmlau commented on #190
@Danwakeem , I'm moving this issue to `In Progress` to reflect the current status.

[2018-06-15 10:47] NilsITO commented on #167
Is it somewhere documented?
I added "index":true to the model property but there seems to be no effect. In fact I think all_fields must somehow be manually disabled?

[2018-06-20 17:49] Danwakeem commented on #190
Hey @dhmlau this was merged into master today so I will go ahead and close this out. Thank you again!

[2018-06-20 17:49] #190 closed

[2018-06-20 22:14] dhmlau commented on #190
Thanks! We just released `2.1.0` to include this change.

[2018-07-03 15:34] Danwakeem commented on #189
I had run into a similar issue a while back and I found a solution to this problem should be helpful here.

Both Cloudant and CouchDB [`$regex` operators](https://console.bluemix.net/docs/services/Cloudant/api/cloudant_query.html#query) adhere to the Perl Compatible Regular Expression (`PCRE`) library. This means that the output of the javascript `RegExp` class (or any javascript regex for that ma

[2018-08-16 02:06] dhmlau commented on #189
@jannyHou @Danwakeem , with the PR https://github.com/strongloop/loopback-connector-couchdb2/pull/52 has merged, is this ticket ok to close?  Thanks.

[2018-08-16 04:15] Danwakeem commented on #189
Yes, I believe so! That PR was meant to address this ticket :)

[2018-09-21 18:21] jannyHou opened #197 "Fix the filter for hasManyThrough relation"
# Description/Steps to reproduce

A follow up issue for https://github.com/strongloop/loopback/issues/4006

Cloudant connector has the problem, haven't checked other connectors:

When many-to-many relation has a through model, for example
- `Team` hasMany `Resource` through `TeamResource`
- `Resource` hasMany `Team` through `TeamResource`

Query a `team` with its resources `included` using `Team.f

[2019-04-06 19:54] dhmlau opened #201 "Fix CI - 2 test cases failed"
## Description
There are 2 test cases failed in CI.
See the results from https://github.com/strongloop/loopback-connector-cloudant/pull/200

[code]

## Acceptance Criteria
- [ ] Fix the 2 test cases and make CI green again
       These 2 fixes expose 2 new failures in juggler. A new PR will be created to fix these issues
       and finally allow CI to succeed.

[2019-04-07 13:03] dhmlau commented on #201
Also see comment https://github.com/strongloop/loopback-datasource-juggler/pull/1705#issuecomment-480254509

[2019-04-08 14:28] dhmlau commented on #201
@jannyHou , assigning this to you since you're working on it. thanks.

[2019-05-08 02:17] jannyHou commented on #201
🎉 Fixed after releasing `loopback-connector-couchdb2@1.4.0`, see test PR https://github.com/strongloop/loopback-connector-cloudant/pull/204, CI is green.
I am closing this story.

[2019-05-08 02:17] #201 closed

[2019-05-20 08:37] bajtos opened #205 "Run shared tests from both v3 and v4 of juggler"
At the moment, our connectors are installing juggler 3.x to run the test suite. When we make a change to juggler@3, cis-jenkins detects downstream dependency and triggers CI build of connectors with the modified juggler version. When we make a change to juggler's master, no downstream builds are triggered.

In the past, we were maintaining multiple branches to test connectors against different jug

[2019-06-21 17:51] #205 closed

[2019-07-25 02:24] #197 closed

[2019-08-05 18:05] mgzeitouni opened #213 "FindById doesn't use Cloudant Read by Id method"
The FindById is not actually using Cloudant's Id Lookup method ('Read'), rather it uses a standard query (_find), which is 10x more expensive. Is there an option that uses a Read for the findById function?

[2019-08-07 19:35] dhmlau commented on #213
@jannyHou, I remember there was a discussion about the cost of calling lookup vs query for Cloudant, but I cannot recall you had any workaround or solution.  Could you please help? Thanks.

[2019-09-23 17:06] jdmintz opened #214 "[Spike] Add Support for Partitioned Databases"
Both Cloudant and CouchDB support partitioned databases which make querying less expensive - computationally in CouchDB, monetarily on Cloudant.

https://cloud.ibm.com/docs/services/Cloudant/guides?topic=cloudant-database-partitioning

Please consider adding this support for Loopback users.

(Updated by JannyHou):

Design thought see https://github.com/strongloop/loopback-connector-cloudant/issues

[2019-09-23 18:16] dhmlau commented on #214
cc @raymondfeng @jannyHou

[2019-09-23 18:19] raymondfeng commented on #214
See https://github.com/cloudant/nodejs-cloudant/commit/d4003759b006fecb4f361527a5495ce347285ed1

@jannyHou I think we need to switch to `@cloudant/cloudant` as the driver now.

[2019-09-24 18:08] dhmlau commented on #214
Gathering information from @jannyHou and @raymondfeng, we'll need to have further investigation to see what's the work involved.  It might involve one or more of the following:
- update to `@cloudant/cloudant `driver (mentioned above)
- user can utilize the partitioned database feature by changing some configurations
- some changes need to be done within the loopback-connector-cloudant connector t

[2019-09-24 18:50] agnes512 commented on #214
Discussion from the estimation meeting:

1. check partition key settings
2. investigate how to pass partition key to drivers

[2019-09-30 14:25] jannyHou commented on #214
Did a quick research, we can do the following to support partitioned database:

- Expose partition related APIs from `cloudant/nodejs-cloudant` so that users can leverage native APIs to create db/query records in a particular partition/etc...
- Make sure the database is created to support partition. (Either manually or by calling LB APIs.
- Modify the index to distinguish between partition and glo

[2019-10-02 16:35] jannyHou commented on #214
# A summary of partitioned index and query:

# Partitioned Search

## use case 1

**partitioned index defined**
**partitionedFind()**

✔️ correct result is returned
✔️ index is used

## use case 2

**partitioned index defined**
**partitionedFind()**
**sort with a field in index**

✔️ correct result is returned
✔️ index is used

## use case 3

**partitioned index defined**
**partitionedFind()**
**s

[2019-10-02 17:42] jannyHou commented on #214
# Proposal for Partitioned Support

Example: `Order` model attached to Cloudant datasource.

- **Update driver to https://github.com/cloudant/nodejs-cloudant**
- **Find a new db (support partition)for test**
  - The docker one is retired and don't support partition
  - Check the couchdb2 image as well, and replace it with a new one if necessary. (since 95% of the code are written in loopback-conne

[2019-10-02 18:00] jdmintz commented on #214
Awesome progress here. CouchDB 2.x doesn't support Partition Querying yet. It will be available in 3.0 (being wrapped up soon-ish according to the email group)

Can confirm that the Cloudant Developer edition _was_ retired in favor of CouchDB containers.

[2019-10-03 13:39] bajtos commented on #214
Re proposal 2:

Please note the `filter` argument of `find` method has properties `where`, `include`, `skip`, `limit`, etc. Model properties are nested under the `where` field. There is no need to worry about `partitionKey` clashing with model properties.

I don't know anything about Partition Queries in Cloudant/CouchDB. Purely from the LoopBack server & client perspective, I like the proposal 2

[2019-10-04 04:35] jannyHou commented on #214
@bajtos Thank you for the detailed review and giving feedback!

Good point! If unknown filter properties are not removed from the request(IIRC they aren't) this will definitely be a decisive reason to choose proposal 2.

My understanding is, `partitionKey` is similar to the path parameter in an url, so it's ok to make it public.

E.g. "`GET /users/{id}/orders`" VS "get all the orders with `partiti

[2019-10-07 01:55] jannyHou opened #215 "Update driver to nodejs/cloudant"
See parent spike story https://github.com/strongloop/loopback-connector-cloudant/issues/214

### Acceptance Criteria

- [ ] Update driver to https://github.com/cloudant/nodejs-cloudant
- [ ] Find a new db (support partition)for test
    - The docker one is retired and don't support partition
    - Check the couchdb2 image as well, and replace it with a new one if necessary. (since 95% of the code

[2019-10-07 02:00] jannyHou opened #216 "Support creating partitioned index"
See parent story https://github.com/strongloop/loopback-connector-cloudant/issues/214

### Acceptance Criteria

- [x] Add configurable property `partitioned` for index support
  - By default an index is created with `{partitioned: false}` as global.
  - When people define the index in the model definition, they can configure the partitioned as `true/false`.

[2019-10-07 02:03] jannyHou opened #217 "Optimize query by reading partition key from payload"
See parent story https://github.com/strongloop/loopback-connector-cloudant/issues/214

### Acceptance Criteria

Model `Order` has `userId` as its partition key.

- [x] Support providing the `partitionKey` in query, like `Order.find({where: {somefield: 'somevalue', userId: 'auser',}})`

    - In `Cloudant.prototype.find()`, if `partitionKey` is detected in the where clause, then invoke `db.partitio

[2019-10-07 02:20] jannyHou opened #218 "Compose the _id for a document in a partition database"
See parent story https://github.com/strongloop/loopback-connector-cloudant/issues/214

For a non-partitioned db, `db.insert()` will give the document a random string as `_id` if it’s missing in the payload. While for partitioned database, _id is a must provide field, the random string need to be generated using 'uuid/v4', see some examples in the driver repo. Let's figure out a better UX for users

[2019-10-07 02:20] jannyHou commented on #214
Follow up stories created:

- (WIP) https://github.com/strongloop/loopback-connector-cloudant/issues/215
- https://github.com/strongloop/loopback-connector-cloudant/issues/216
- https://github.com/strongloop/loopback-connector-cloudant/issues/217
- https://github.com/strongloop/loopback-connector-cloudant/issues/218

[2019-10-07 14:04] emonddr commented on #214
same link both times.

[2019-10-07 14:07] emonddr commented on #214
if partition key is provided, shouldn't it be `queryWithPartitionKeyIncluded` ?

[2019-10-07 14:14] emonddr commented on #214
For a partitioned database, isn't the partition key used as the id value?

If so, I am confused about this statement:

[2019-10-07 15:09] dhmlau opened #219 "[Epic] Add Support for Partitioned Database"
# Description/Steps to reproduce
See original investigation in this comment: https://github.com/strongloop/loopback-connector-cloudant/issues/214#issuecomment-537603423

UPDATE
---

### Stage one

#215 update driver and image
#216 create partitioned index

Stay the same
### Stage two

Developers still need to provide a full _id with partition key and uuid when create a model instance.
We support r

[2019-10-07 23:05] jannyHou commented on #214
Had a chat with @raymondfeng , here is a summary:

## model definition

Ideally, a partition key would map to a model property, like model `User` has `countryCode` as its partition key. This would be consistent with the behavior in `loopback-connector-cassandra`. E.g.

[code]

## CRUD APIs

### create(user)

compose `_id` as `<countryCode>: userId` then create document by calling `db.insert()`

##

[2019-10-08 04:03] jannyHou opened #220 "findAll: Read partitionKey from `options`"
See parent story: https://github.com/strongloop/loopback-connector-cloudant/issues/214

## Acceptance Criteria

- [x] For method `Couchdb2.prototype.all()`(which maps to model method `find`), get the partition key from `options` like:
[code]
   If `partitionKey` is found, then invoke `driverInst.partitionedFind(partitionKey, query)` to find documents.

[2019-10-08 04:09] jannyHou opened #221 "Optimize findById for partitioned database"
See parent story https://github.com/strongloop/loopback-connector-cloudant/issues/214

## Acceptance Criteria

- [ ] For `findById`, to support query in a partitioned database, connector should parse the provided id: if it's in pattern `partitonKey: id`, then invoke `db.partitionedFind()`

### use case 1

`findById('fdb2ff86-78c1-47bb-bc63-f239db06c578')`

- invokes `db.find()`
  - partitioned db

[2019-10-08 14:48] jannyHou commented on #215
The new docker image: https://hub.docker.com/r/ibmcom/couchdb3

[2019-10-08 20:07] raymondfeng commented on #220
It should be `{cloudant: {partitionKey: 'US'}}` or `{partitionKey: 'US'}`.

[2019-10-09 19:01] jannyHou commented on #214
See epic https://github.com/strongloop/loopback-connector-cloudant/issues/219
Closing this spike

[2019-10-09 19:01] #214 closed

[2019-10-09 19:24] dhmlau opened #222 "[Epic] Add Support for Partitioned Database (Post MVP)"
MVP for the partitioned database support: https://github.com/strongloop/loopback-connector-cloudant/issues/219.

After the MVP is done, there are some enhancements that we can possibly do.
**Stage three**
#221 optimize findById
#218 compose id

[2019-10-09 19:26] dhmlau commented on #219
I've created the Post-MVP epic for stage 3. https://github.com/strongloop/loopback-connector-cloudant/issues/222

[2019-10-11 18:31] dhmlau commented on #213
@mgzeitouni, sorry about the late response.
From my understanding, @jannyHou had made some enhancement for `findById` at the connector level.

I found her response in another thread:

Ideally we can make this available to the juggler level, however, the effort is huge.  Please let us know if the above comment helps.

Making use of the partitioned database feature is another way to reduce the cost

[2019-10-11 18:32] dhmlau commented on #213
@jannyHou, in case i miss anything, please chime in!

[2019-10-11 21:23] jannyHou commented on #213
@dhmlau Thank you for posting the reply here! That pretty much covers all the discussion 👍

[2019-10-15 13:27] dhmlau commented on #214
MVP - epic #219
Post MVP (enhancement) - epic #222

[2019-10-17 20:02] emonddr commented on #215
@jannyHou have you submitted a PR for this yet? Is this possible for October?

[2019-10-18 17:33] jannyHou commented on #215
@emonddr I have code change on local, haven't created the PR. I see a PR updating the docker image https://github.com/strongloop/loopback-connector-cloudant/pull/223#pullrequestreview-303991999, it would be better if we can upgrade to use https://hub.docker.com/r/ibmcom/couchdb3.

[2019-10-24 13:25] emonddr commented on #215
@agnes512  closed this PR after we had a discussion, and she realized it wasn't needed.

[2019-10-25 01:25] jannyHou commented on #215
closed as https://github.com/strongloop/loopback-connector-cloudant/pull/224 landed

[2019-10-25 01:25] #215 closed

[2019-11-15 18:48] jannyHou commented on #216
Closing after https://github.com/strongloop/loopback-connector-cloudant/pull/225 merged.

[2019-11-15 18:48] #216 closed

[2019-11-20 15:06] jannyHou commented on #220
Closing since PR merged

[2019-11-20 15:06] #220 closed

[2019-11-21 17:04] dhmlau opened #231 "[Blog] Blog post about the support for partitioned database"
## Suggestion

With the [MVP](https://github.com/strongloop/loopback-connector-cloudant/issues/219) for partitioned database support in the connector is done, we should have a blog post about it because it provides value to our users by reducing costs on using the cloudant service.

## Acceptance Criteria
- [ ] write a blog post about this support, it could possibly cover the following (if appropr

[2019-11-21 17:05] dhmlau commented on #231
Assigning it to @jannyHou  because she implemented the feature.

[2019-11-22 19:34] jannyHou commented on #217
closing as PR merged

[2019-11-22 19:34] #217 closed

[2019-11-23 03:18] dhmlau commented on #219
Closing as done. Thanks @jannyHou !

[2019-11-23 03:18] #219 closed

[2019-12-17 19:47] dhmlau commented on #231
Discussed with @jannyHou, it seems like the documentation https://github.com/strongloop/loopback-connector-cloudant/blob/master/doc/partitioned-db.md contains all the details we want and there's not much value for a blog.

We'll promote it via social media instead:
https://twitter.com/MobileDiana/status/1207023898837082113

[2019-12-17 19:47] #231 closed

[2020-02-04 21:57] cwadding commented on #35
@jannyHou one solution for a partial update are to use update handlers https://cloud.ibm.com/docs/services/Cloudant/api?topic=cloudant-design-documents#update-handlers
This would need to be enabled on the cloudant database but can make it so that the updates are not a destructive operation.
It might would be nice to be able to specify the desired update handler

[2020-02-05 11:53] sinny777 opened #238 "Invalid key partitioned using with Cloudant docker locally"
I'm using Loopback 4 and trying to run migrate option.  When using local docker image of Cloudant (ibmcom/cloudant-developer), it throws following error:

'Invalid key partitioned for this request.'

However, it works fine with Cloudant instance on IBM public cloud.

Here's the full error message:

name: 'Error',
  error: 'invalid_key',
  reason: 'Invalid key partitioned for this request.',
  scop

[2020-02-05 13:32] agnes512 commented on #238
@jannyHou could you take a look of this issue? thanks.

[2020-02-05 22:31] dhmlau commented on #238
@sinny777, could you please provide more details in reproducing this problem? e.g. the models you used for database migration. Thanks.

[2020-02-06 05:00] sinny777 commented on #238
@dhmlau , this is the issue with all the models and the reason seems to be the cloudant docker image is too old and is not upgraded to use "partitioned" database feature.  My same code works when using the "migrate" option with Cloudant instance on IBM public cloud, but when I change it use local cloudant docker container, it throws the error.

I'm using Loopback 4 and am using loopback-connector-

[2020-03-11 14:28] jannyHou commented on #238
@agnes512 (Thank you!)recently updated the setup script and documented in https://github.com/strongloop/loopback-connector-cloudant#docker, can you try the new docker image? It works on my local.

[2020-04-04 21:04] #218 closed

[2020-04-04 21:04] #221 closed

[2020-05-10 15:53] jannyHou commented on #238
I am closing this issue since the new setup steps are updated in https://github.com/strongloop/loopback-connector-cloudant#docker.

Feel free to reopen it if you still have problems. Thanks for understanding.

[2020-05-10 15:53] #238 closed

[2020-06-03 20:19] #222 closed

[2020-09-11 12:33] bajtos commented on #213
I feel this issue is not fully resolved yet, I'd like to keep it open until we have a clear and well documented recommendation explaining LoopBack 4 users how to get an efficient `findById` implementation using Cloudant's Read operation.

[2022-04-26 15:40] dhmlau opened #253 "Move to @ibm-cloud/cloudant"
https://www.npmjs.com/package/@cloudant/cloudant is no longer maintained. The recommended replacement is [`@ibm-cloud/cloudant`](https://github.com/IBM/cloudant-node-sdk).
Migration guide: https://github.com/cloudant/nodejs-cloudant/blob/HEAD/MIGRATION.md

[2022-08-15 15:42] ghost commented on #253
Hi @achrinza. I just wanted to ask you if there has been any progress. I was trying something on my own but i am still new to loopback and haven't yet completely understood how the connector works.

[2022-08-16 14:03] achrinza commented on #253
Hi @arberqytyku, unfortunately this issue slipped past the timebox, and hence hasn't been updated to use the new SDK.

I've begun to restart my work on LoopBack and this connector.

No ETA at the moment for this connector.

There's some larger work underway to modernise the Juggler ORM and connectors to use TypeScript, so I'm targeting to publish a prerelease version as we sort that work.

The con